/*Reset de CSS*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/*Banner*/
.banner {
    height: 300px;
    display: flex;
    font-family:$urbanist;
    color:$verde-oscuro;
    background-size: cover;
    background-position: center;
    background-image: url(../media/banners/banner2.jpg)
}
.titulo{
    font-weight: 700;
    font-size: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}
/*PROMOCIONES*/

.grid-promos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px 100px;
    gap: 1rem;
    margin-top: 1rem;
}
.texto{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:$urbanist;
}

/*CONTACTO*/
.subtitulos{
    color:$marron;
    text-align: center;
    font-family:$urbanist;
    font-size: larger;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:$urbanist;
    text-align: center;
    :focus{
        border: solid $marron;
        background-image: linear-gradient(to right top, #99d85f, #b8dd7f, #d1e3a0, #e4e9c4, #f1f1e9);
    }
}

/*SUCURSALES*/
.sucursales{
    font-family:$raleway;
    color:$marron;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    font-weight:bold
}   
.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
}
.scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-hor-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-hor-center {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}
@keyframes scale-up-hor-center {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    }
}