header{
    background-color: $color-header;
    display: flex;
    margin-bottom: 7px;
    //lista de navegación
    nav{
        background-color: $color-header;
        margin-left: 2rem;
    }
    //Posicion del logo
    img{
        @include tamanio (120px, 100%);
    }
}
.navbar-brand{
    margin-left: 1rem;
}
/*FOOTER*/
footer{
    margin-top: 15px;
    text-align: end;
    text-align: center;
    background-color: $color-header;
    font-family: $urbanist;
    font-weight: 450;
    .redes{
        max-width: 100%;
        max-height: 100%;    
        @include tamanio (3%, 3%);
    }
}
