@media (max-width:500px){
    /*HEADER*/
    header{
        nav {
            width: 200px;
            .container-fluid{
                --bs-gutter-x: 0px;
            }
            }
        img{
            @include tamanio (80px, 100%);
        }
    }
    /*BANNER*/
    .banner{
        height: 130px;
        h1{display: none;
        }
    }
    /*PRESENTACIÓN*/
    .descripcion{
        padding-top: 0.5rem;
    }
    .descripcion1{
        display: none;
    }
    .descripcion2{
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        font-size: medium;
        text-align: justify;
        background-color: $color-header;
    }
    .informacion{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.8rem;
        h3{
            font-size: 1.2rem;
        }
    }
    .sueltos{
        width: 80%;
    }
    .suplementos{
        width: 90%;
    }
    .sintacc{
        width: 90%;
    }
    .vegano{
        width: 90%;
    }
    .nutricionales{
        width: 80%;
    }
    /*PÁGINA PRODUCTOS*/
    .introduccion-productos{
        height: 260px;
    }
    .grid-secciones{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-template-areas: 
        "granel   piel"
        "vitaminas  deporte";
        gap: 7px 7px;
    }
    .banner-sueltos{
        height: 150px;
        h1{
        font-size: 3rem;
        }
    }
    .banner-skincare{
        height: 150px;
        h1{
        font-size: 3rem;
        margin-left: 2%;
        }
    }
    .banner-vitaminas{
        height: 150px;
        background-position: top;
        h1{
        font-size: 3rem;
        align-items: flex-start;
        }
    }
    .banner-deporte{
        height: 150px;
        h1{
        font-size: 3rem;
        }
    }
    /*PÁGINA PROMOCIONES*/
    .grid-promos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr) repeat(3,80px);
        .texto{
            border-bottom: 1px dashed $verde-oscuro;
            border-top: 1px dashed $verde-oscuro; 
        }
        .galicia{
            border: 1px solid $marron;
        }
        .nacion{
            @extend .galicia;
        }
        .provincia{
            @extend .galicia;
        }
    }
}