//PALETA DE COLORES
$color-header: #f1f1e9;
$verde-oscuro: #466429;
$verde-claro:#99d85f;
$naranja: #e15e33;
$marron: #93551e;
//FUENTES
$urbanist: "Urbanist", sans-serif;
$raleway: "Raleway", sans-serif;
$roboto: "Roboto", sans-serif;
